*,*::after,*::before{
    box-sizing: border-box;

}
body{
    margin: 0;
}
.form-container{
    width: 100%;
    display: flex;
}
img{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.form-bg{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100vh;
    background-image: url(media/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.form-logo{
    width: 100%;
    margin-top: 20%;
    background: #000000a4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: clamp(1.5em, 7vh, 5em);

}
.logo{
    width: 10%;
    
}
P{
}
.main-form{
    margin: 0 auto;
    padding: 15% 0 ;
    width: 55%;
    display: flex;
    flex-direction: column;

    
}
.form{
    width: 100%;
    background-color: rgb(241, 246, 250);
    padding: 20px 0;
}
div2{
    margin-left: 3em;
}
label{
    display: block;
}
input:valid{
    border: 1px solid blue;
}
input:invalid{
    border: 1px solid red;
}
.form-box{
    display: flex;
}