*,*::after,*::before{
    box-sizing: border-box;

}
body{
    margin: 0;
}
.form-container{
    width: 100%;
    display: flex;
}
img{
    width: 100%;
    object-fit: cover;
}
.form-bg{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100vh;
    background-image: url(media/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-logo{
    width: 100%;
    margin-top: 20%;
    background: #0000005e;

}
.logo{
    width: 100%;
    height: 30%;
}
.main-form{
    width: 60%;
}