*,*::after,*::before{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-size: large;
}
.form-container{
    width: 100%;
    display: flex;
}
img{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.form-bg{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100vh;
    background-image: url(media/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.form-logo{
    width: 100%;
    margin-top: 20%;
    background: #000000a4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: clamp(1.5em, 7vh, 5em);

}
.logo{
    width: 10%;
    
}

.main-form{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
    
}
.call-to-action-wrapper{
    width: 100%;
    margin-bottom: 1em;
    font-weight: 600;
    
}
.call-to-action{
    width: 95%;
    margin: 0 auto;   
}
.form-wrapper{
    width: 100%;
    box-shadow: 0px 2px 8px 0px #201d1d;
}
.form{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}
div2{
    margin-left: 3em;
}
label{
    display: block;
}
input{
    border-radius: .3em ;
}
input:invalid{
    border: 1px solid red;
}
.form-box{
    display: flex;
}
#btn{
    width: 95%;
    margin: 0 auto;
}
btn{
    margin-top: 1em;
    width: 100%;
    display: flex;

}
a{
    text-decoration: none;
    color: #596D48;
}
button{
    margin: 0;
    padding: .5em 2em;
    background-color: #596D48;
    color: aliceblue;
    border: none;
    border-radius: .5em;

}