body{
    width: 100%;
    margin: 0 ;
}
.grid-container{
    width: 50%;
    padding: 15%;
    margin: 0 auto;
    text-align: center;
}
/*
.container {
  display: inline-grid;
  grid-template: repeat(5, 40px) /repeat(5, 90px);
  background-color: lightblue; 


}
.room { 
  border: 1px solid;
  font-size: 100%;
  text-align: center;
}
#living-room {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
#kitchen {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}
#bedroom {
    grid-column: 1/3;
    grid-row: 3/5;
}
#bathroom {
    grid-column: 3 / 4;
    grid-row: 3 / 6;

}
#closet {
    grid-column: 1/3;
    grid-row: 5/6;

} */

/* 
#bedroom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

#bathroom {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

#closet {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
} */


.container {
  display: inline-grid;
  grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
  background-color: lightblue; 
  grid-template-areas:
    "living-room living-room living-room living-room living-room"
    "living-room living-room living-room living-room living-room" "closet closet . . ."
    "bedroom bedroom bathroom kitchen kitchen"
    "bedroom bedroom bathroom kitchen kitchen" 
        
}
.room {
  border: 1px solid;
  font-size: 50%;
  text-align: center;
}
#living-room {
    grid-area: living-room;
}
#kitchen {
    grid-area: kitchen;
}
#bedroom {
    grid-area: bedroom;
}
#bathroom {
    grid-area: bathroom;
}
#closet {
    grid-area: closet;
}